<!DOCTYPE html>
<html lang="es">
    <head>
        <title>TSG-SM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="Stylesheet" href="/css/style.css">
        <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
        </style>
    </head>
    <body>

    <nav class="navbar navbar-light" style="background-color: #fcba03;">
        <a class="navbar-brand" href="#">TSG-ADMIN DE RECURSOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">INICIO</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="read.html">CONSULTAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create.html">CREAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="update.html">ACTUALIZAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="delete.html">ELIMINAR</a>
            </li>    
            </ul>
        </div>  
        </nav>

        <div class="jumbotron text-center bg-img">
            <h1>CONSULTAR REGISTRO</h1>
            <p>Consulte cualquier registro del sistema</p> 
        </div>  

        <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-6">
                <blockquote class="blockquote text-center">
                    <h1>INSTRUCCIONES DE USO</h1>
                    <p>El presente sitio web es un temple diseñado para consumir un API desarrollada en Python con los frameworks DJANGO DJANGO-REST-FRAMEWORK</p>
                    <img src="https://sarobartech.com/media/blog/python--django.png" width="200" class="rounded mx-auto d-block" alt="...">
                </blockquote>
            </div>
            <div class="col-sm-6">
                <div id="app"></div>
                    <pre>
                        {{ info }}
                    </pre>
            </div>
        </div>
        </div>

        <div class="jumbotron text-center" style="margin-bottom:0; background-color: #fcba03;">
        <p>Prueba de conocimientos Julián Camilo Valdés Bello</p>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small" style="background-color: #fcba03;">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://jvaldesb.tk"> JvaldesB.tk</a>
            </div>
            <!-- Copyright -->
        
      </footer>
      <!-- Footer -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data () {
                return {
                info: null
                }
            },
            mounted () {
                axios
                .get('http://127.0.0.1:8000/api/v1/resource/')
                .then(response => (this.info = response))
            }
            })
    </script>
    </body>
    
</html>
